@import '~mand-mobile/components/_style/mixin/global'
@import '~mand-mobile/components/_style/mixin/util'
@import '~mand-mobile/components/_style/mixin/theme'
@import '~nib/lib/nib/vendor'
@import '~nib/lib/nib/gradients'

color-primary = #00AF3B