@import '~mand-mobile/components/_style/mixin/util'
// 1.x
@import '~mand-mobile/components/_style/mixin/theme'

// 2.x
// @import '~mand-mobile/components/_style/mixin/theme.components'
// @import '~mand-mobile/components/_style/mixin/theme.basic'

@import '~nib/lib/nib/vendor'
@import '~nib/lib/nib/gradients'

color-primary = #00AF3B